<div>
    <img id="rectangleWithInfo" src="assets/photos/items/RectangleGray.png">
    <p id="date">Date</p>
    <p id="title">Title</p>
    <p id="businessUnit">Business Unit</p>
    <p id="withUser">With User</p>
    <p id="delay">Delay</p>
    <p id="status">Status</p>
</div>>

<div id="firstRectangle">
    <img id="rectangle1" src="assets/photos/items/RectangleWhite.png">
    <img id="line1" src="assets/photos/items/Line.png">
    <img id="line11" src="assets/photos/items/Line.png">

    <div id="texts">
        <div class="oval" id="dateRectangle1"></div>
        <p id="textTitle1">Item Title Item Title Item Title</p>
        <p id="textBusinessUnit1">Business Unit Business...</p>
    </div>
    <img id="photoOne" src="assets/photos/items/Photo1.png">

    <button id="btnInspectOne"></button>

    <img id="eyeOne1" src="assets/photos/items/Eye1.png">
    <img id="eyeTwo1" src="assets/photos/items/Eye2.png">

    <div class="oval" id="oval1"></div>
    <p id="status1">Approved</p>
</div>

<div id="secondRectangle">
    <img id="rectangle2" src="assets/photos/items/RectangleWhite.png">
    <img id="line2" src="assets/photos/items/Line.png">
    <img id="line22" src="assets/photos/items/Line.png">
    <div id="texts">
        <div class="oval" id="dateRectangle2"></div>
        <p id="textTitle2">Item Title Item Title Item Title</p>
        <p id="textBusinessUnit2">Business Unit Business...</p>
    </div>
    <img id="photoTwo" src="assets/photos/items/Photo2.png">

    <button id="btnInspectTwo">

    </button>
    <img id="eyeOne2" src="assets/photos/items/Eye1.png">
    <img id="eyeTwo2" src="assets/photos/items/Eye2.png">

    <div class="oval" id="oval2"></div>
    <p id="status2">In Progress</p>
</div>

<div id="thirdRectangle">
    <img id="rectangle3" src="assets/photos/items/RectangleWhite.png">
    <img id="line3" src="assets/photos/items/Line.png">
    <img id="line33" src="assets/photos/items/Line.png">
    <div id="texts">
        <div class="oval" id="dateRectangle3"></div>
        <p id="textTitle3">Item Title Item Title Item Title</p>
        <p id="textBusinessUnit3">Business Unit Business...</p>
    </div>
    <p id="textNoUser">--</p>
    <img id="overdue" src="assets/photos/items/Overdue.png">

    <p id="textOverdue">1d Overdue</p>

    <button id="btnInspectThree">

    </button>

    <img id="eyeOne3" src="assets/photos/items/Eye1.png">
    <img id="eyeTwo3" src="assets/photos/items/Eye2.png">

    <div class="oval" id="oval3"></div>
    <p id="status3">Rejected</p>
</div>