<div>
    <p id="waitingYourAction">Waiting your Action</p>
    <img id="rectangle1" src="assets/photos/actions/RectangleSmall.png">
    <img id="blue" src="assets/photos/actions/BlueCircle.png">
    <img id="meetingIcon1" src="assets/photos/left-menu/MeetingIcon1.png">
    <img id="meetingIcon2" src="assets/photos/left-menu/MeetingIcon2.png">
    <p id="meetingsText">Meetings</p>

    <img id="rectangle2" src="assets/photos/actions/RectangleSmall.png">
    <img id="purple" src="assets/photos/actions/PurpleCircle.png">
    <img id="itemsIcon" src="assets/photos/left-menu/ItemsIcon.png">
    <p id="itemsText">Items</p>

    <img id="rectangle3" src="assets/photos/actions/RectangleSmall.png">
    <img id="red" src="assets/photos/actions/RedCircle.png">
    <img id="actionsIcon" src="assets/photos/left-menu/ActionsIcon.png">
    <p id="actionsText">Actions</p>

    <img id="rectangle4" src="assets/photos/actions/RectangleSmall.png">
    <img id="orange" src="assets/photos/actions/OrangeCircle.png">
    <img id="remindersIcon1" src="assets/photos/actions/RemindersIcon1.png">
    <img id="remindersIcon2" src="assets/photos/actions/RemindersIcon2.png">
    <p id="remindersText">Reminders</p>

    <img id="rectangle5" src="assets/photos/actions/RectangleSmall.png">
    <img id="green" src="assets/photos/actions/GreenCircle.png">
    <img id="notesIcon" src="assets/photos/actions/NotesIcon.png">
    <p id="notesText">Notes</p>

    <div if="divQuickItem">
        <button id="btnQuickItem">
    
        </button>
        <p id="quickItem">+ Quick Item</p>
    </div>

</div>