//@import '~angular-dropdown/styles';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rationale-tech-primary: mat-palette($mat-indigo);
$rationale-tech-accent: mat-palette($mat-pink, A200, A100, A400);
// The warn palette is optional (defaults to red).
$rationale-tech-warn: mat-palette($mat-red);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rationale-tech-theme: mat-light-theme(( color: ( primary: $rationale-tech-primary, accent: $rationale-tech-accent, warn: $rationale-tech-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($rationale-tech-theme);
@font-face {
    font-family: 'Metropolis';
    src: url(assets/font/Metropolis-Regular.otf) format("opentype");
}

$background-color: #FBFBFF;
$width: 1440px;
$left: -715px;
$top: -190px;
$border-radius: 0px;
html {
    width: $width;
    left: $left;
    top: $top;
    border-radius: $border-radius;
    background-color: $background-color;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}