<div class="toolbar" id="header">
    <img id="F" src="assets/photos/header/F.png" />
    <img id="O" src="assets/photos/header/O.png" />
    <img id="Ellipse" src="assets/photos/header/Ellipse.png" />
    <img id="CUS" src="assets/photos/header/CUS.png" />

    <img id="notificationEllipse" src="assets/photos/header/NotificationEllipse.png" />
    <p id="notificationNumber">2</p>

    <div class="btn-group" style="margin-bottom: 70px;" id="dropdown" appDropdown>
        <button type="button" class="btn button1 buttonH dropdown-toggle">
            <img id="notificationImage" src="assets/photos/header/Notification.png"/>
        </button>
        <ul class="dropdown-menu">
            <li><a id="notification1" style="cursor: pointer">Notification 1</a></li>
            <li><a id="notification2" style="cursor: pointer">Notification 2</a></li>
        </ul>
    </div>
</div>