<div>
    <div class="oval" id="oval1"></div>
    <div>
        <p id="textOval1">Tasks you initiated</p>
        <p id="textOval11">Stay tuned with the task you initiated.</p>
        <hr id="line1">
    </div>
    <div>
        <img id="photo1" src="assets/photos/tasks/Photo1.png">
        <p id="textPhoto1">Create new finance document</p>
        <p id="textPhoto11">Edited 5 hours ago</p>

        <div class="oval" id="ovalProgressBar1">
            <div class="oval" id="progressBar1">80%</div>
        </div>
    </div>

    <div>
        <img id="photo2" src="assets/photos/tasks/Photo2.png">
        <p id="textPhoto2">Create new finance document</p>
        <p id="textPhoto22">Edited 5 hours ago</p>

        <div class="oval" id="ovalProgressBar2">
            <div class="oval" id="progressBar2">20%</div>
        </div>
    </div>

    <div>
        <img id="photo3" src="assets/photos/tasks/Photo3.png">
        <p id="textPhoto3">Create new finance document</p>
        <p id="textPhoto33">Edited 5 hours ago</p>

        <div class="oval" id="ovalProgressBar3">
            <div class="oval" id="progressBar3">50%</div>
        </div>
    </div>

    <div>
        <img id="photo4" src="assets/photos/tasks/Photo4.png">
        <p id="textPhoto4">Create new finance document</p>
        <p id="textPhoto44">Edited 5 hours ago</p>

        <div class="oval" id="ovalProgressBar4">
            <div class="oval" id="progressBar4">90%</div>
        </div>
    </div>
</div>

<div>
    <div class="oval" id="oval2"></div>

    <div>
        <p id="textOval2">Overdue Actions</p>
        <p id="textOval22">You are late, hurry up!</p>
        <hr id="line2">
    </div>

    <div>
        <img id="photo5" src="assets/photos/tasks/Photo5.png">
        <p id="textPhoto5">Create new finance document</p>
        <p id="textPhoto55">Edited 5 hours ago</p>

        <div class="oval" id="ovalProgressBar5">
            <div class="oval" id="progressBar5">20%</div>
        </div>
    </div>

    <div>
        <img id="photo6" src="assets/photos/tasks/Photo6.png">
        <p id="textPhoto6">Create new finance document</p>
        <p id="textPhoto66">Edited 5 hours ago</p>

        <div class="oval" id="ovalProgressBar6">
            <div class="oval" id="progressBar6">80%</div>
        </div>
    </div>

    <div>
        <img id="photo7" src="assets/photos/tasks/Photo7.png">
        <p id="textPhoto7">Create new finance document</p>
        <p id="textPhoto77">Edited 5 hours ago</p>

        <div class="oval" id="ovalProgressBar7">
            <div class="oval" id="progressBar7">90%</div>
        </div>
    </div>

    <div>
        <img id="photo8" src="assets/photos/tasks/Photo8.png">
        <p id="textPhoto8">Create new finance document</p>
        <p id="textPhoto88">Edited 5 hours ago</p>

        <div class="oval" id="ovalProgressBar8">
            <div class="oval" id="progressBar8">50%</div>
        </div>
    </div>
</div>