<div class="toolbar" role="banner" id="left-menu">
    <img id="pulseIcon" src="assets/photos/left-menu/PulseIcon.png" />
    <p id="pulseText" [routerLink]="['home']">Pulse </p>

    <img id="meetingIcon1" src="assets/photos/left-menu/MeetingIcon1.png" />
    <img id="meetingIcon2" src="assets/photos/left-menu/MeetingIcon2.png" />
    <p id="meetingText" [routerLink]="['meeting']" routerLinkActive="active">Meeting</p>

    <img id="itemsIcon" src="assets/photos/left-menu/ItemsIcon.png" />
    <p id="itemsText" [routerLink]="['items']" routerLinkActive="active">Items</p>

    <img id="actionsIcon" src="assets/photos/left-menu/ActionsIcon.png" />
    <p id="actionsText" [routerLink]="['actions']" routerLinkActive="active">Actions</p>
</div>